#search-inp{
    width: 50%;
    height: 45px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
#search-btn{
    background-color: #F06C4E;
    color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    padding: 0 30px;
}
.search-list-item-style{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 70px;
}
.cate{
    text-align: center;
    margin: 20px; 
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgb(241, 239, 239);
}
.cate img{
    /* border-radius: 15px; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.cate h5{
    background-color: #e9e9e9;
    padding: 30px 0;
}
#modal-dynamic-body img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}
#modal-dynamic-body h4{
    text-align: center;
}
